{% extends "base.html" %}

{% block title %}Almossom &mdash; Sobre{% endblock title %}

{%block activeS%} active {%endblock %}

{% block wel_txt %} SOBRE {% endblock wel_txt %}

{%block weld_txt %} Informações sobre o Tcc{%endblock%}



{%block sobre%}

<div style="margin: 1% 0% 1% 0%;">


    <div class="text-center p-3 p-md-5  container"  style="background:white; border-bottom: 0.5px solid black;">
            
                <div class="text-black">
                  <h3 class="font-weight-light h4" >Sobre o Site</h3>
                  <p class="font-italic">&ldquo;Este sistema tem como o objetivo estroturar os eventos e almosons que o IFC - Campus Araquari proporciona, dando assim mais credibilidade, visibilidade e interação do aluno, professor, servidor com a plataforma e ficar por dentro para com os eventos e seus prazos.&rdquo;</p>
                </div>
              </div>


    <div class="text-center p-3 p-md-5  container"  style="background:white; border-bottom: 0.5px solid black;">
               
                <div class="text-black">
                  <h3 class="font-weight-light h4">Sobre o Almossom</h3>
                  <p class="font-italic">&ldquo;O Almosom é um evento organizado pelos alunos com apoio de professores e servidores.
                    Ele é realizado uma vez por mês, com apresentações musicais, teatrais ou declamações. Tendo como objetivo engajar os alunos 
                    a participarem e a desenvolverem seus talentos musicais como também atrair uma platéia para desfrutar do evento. &rdquo;</p>
                </div>
              </div>

</div>


 {%endblock%}

