{% extends "base.html" %}
{% block title %}Almossom &mdash; Galeria{% endblock title %}
{%block activeS%} active {%endblock %}
{% block wel_txt %} Galeria {% endblock wel_txt %}
{%block weld_txt %} Fotos dos eventos{%endblock%}
{%block page_content%}

{% for galeria in galerias %}
<div style="display: inline-grid; margin-top: 3%;" class="largura_almo row">
  <div style="" class=" row no-gutters ">
    <div class="image2"> 
       <a href="{{galeria.image}}" class=" image-popup img-opacity"><img class="img-fluid"  alt="Image" src="{{galeria.image}}" ></a>
    </div>
  </div>
</div>
{% endfor %}
<div style="margin-top: 3%;"></div>
{%endblock%}


